*{
    margin:0px;
    /* border:border-box; */
    font-family:Slack-Circular-Pro, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;
}
img{
    display:inline-block;
    width: 100px;
    height:37px;
    
}
.nav{
    display:inline;
    height: 50px;
    
    
}
.navbar{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    padding: 0px 55px;
    font-size:15px;
    margin-top:20px;
    margin-bottom: 0px;
     
}
.dropdown{
    align-self:flex-start ;
    

}
.bignav{
    display:flex;
    justify-content:flex-start;
    width:500px;
    flex-wrap:nowrap;
    
}
.nav1{
    width:98px;
   
}

.maintext{
    margin-top: 0px;
    text-align: center;
    font-size: 50px ;
    display: flex;
    justify-content: center;
    font-family: Slack-Larsseit, 'Helvetica Neue', Helvetica, 'Segoe UI', Tahoma, Arial, sans-serif;;
}
.normaltext{
    display:inline-block;
}
.purpletext{
    color:#611f69;
}
.btnarea{
    display:flex;
    justify-content: center;

}

#mainbtn{
    margin:10px;
    background-color: #611f69;
    padding:20px 15px;
    color:white;
    border-radius:5px ;
}
.smalltext{
    text-align: center;
}
.logobox{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.logo{
    margin:20px
}
.mainvid{
    
    display:flex;
    flex-direction: row;
    justify-content:center;
    /* margin-bottom: 50px; */
}
.video{
    align-self: center;
    display:block;
    width:50%;
}
/* #vidbh{
    background-color:#a38053; 
    position:absolute;
    z-index: 1;
    right:0px;
    margin-bottom:20px ;
} */
.benefits{
    display:flex;
    flex-wrap:nowrap;
    width:auto-fit;
    background-color: #f4ede4;
    margin-top:-200px;
    height:600px;
}
.vid1{
    width:60%;
    display:flex;
    
    margin-top:250px;
}
.sidevid{
   width:100%; 
}
.text{
    width:50%;
    display:flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top:250px;

}
h2{
   font-size:50px;

}
.text2{
    align-self: flex-start;
    font-size: 18px;
    width:50%;
    }
.vid2{
    

   
    width:50%;
}
.benefits2{
    display:flex;
    flex-wrap:nowrap;
    width:auto-fit;
    background-color: #f4ede4;
    flex-direction: row;
    width:100%;
    height:350px;
    
}
.actualvid{
  width:100%;
  height:100%;  
  margin-right: 0px;  
}
.b2text1{
    width:80%;

    
}
.b2text{
    margin-left: 40px;
    margin-top:40px;
}
.b2text2{
    font-size: 18px;

}